#page {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-size: 18px; 
}

.main {
  width:  720px;
  margin: 0 auto;
}

.toolbar-top {
  position: relative;
  width: 480px;
  height: 60px;
  margin: 0 auto;
}

.toolbar-col {
  position: absolute;
  height: 48px;
  bottom: 0px;
  left: 80px;
}

.toolbar-left {
  float: left;
  position: relative;
  width: 120px;
  height: 480px;
}

.toolbar-row {
  position: absolute;
  width: 48px;
  top: 90px;
  right: 10px;
}

.toolbar-right {
  float: left;
  width: 120px;
  height: 480px;
}

.toolbar-element {
  width: 120px;
  height: 180px;
}

.toolbar-element-row {
  width: 120px;
  height: 60px;
}

.toolbar-element-btn {
  float: left;
  width: 48px;
  height: 48px;
  margin-left: 12px;
  margin-bottom: 12px;
  background: #c8db73;
  border-radius: 8px;
  opacity: 0.25;
}

#element-btn-head {
  width: 32px;
  height: 32px;
  background: #50543A;
  border-radius: 18px;
  margin-left: 8px;
  margin-top: 8px;
}

#element-btn-tail {
  width: 32px;
  height: 16px;
  background: #50543A;
  border-radius: 18px;
  margin-left: 8px;
  margin-top: 16px;
}

#element-btn-essential {
  width: 16px;
  height: 16px;
  background: #000000;
  border-radius: 18px;
  margin-left: 16px;
  margin-top: 16px;
}

#element-btn-obstacle {
  width: 24px;
  height: 24px;
  border-color: #50543A;
  border: dotted;
  border-radius: 4px;
  border-width: 4px;
  margin-left: 12px;
  margin-top: 12px;
}

#element-btn-black {
  width: 24px;
  height: 24px;
  background: #000000;
  border-radius: 6px;
  margin-left: 12px;
  margin-top: 12px;
}

#element-btn-white {
  width: 24px;
  height: 24px;
  background: #ffffff;
  border-radius: 6px;
  margin-left: 12px;
  margin-top: 12px;
}

.toolbar-execute {
  position: relative;
  width: 120px;
  height: 300px;
  bottom: 0px;
}

.toolbar-execute-row {
  position: absolute;
  width: 120px;
  height: 48px;
  bottom: 0px;
}

.toolbar-execute-btn {
  float: left;
  width: 48px;
  height: 48px;
  margin-left: 12px;
  background: #313a06;
  border-radius: 8px;
}

#execute-btn-solve {
  color: #ecf3d0;
  margin-left: 12px;
  margin-top: 5px;
}

#execute-btn-reset {
  color: #ecf3d0;
  margin-left: 9px;
  margin-top: 6px;
}

.puzzle-window {
  float: left;
  position: relative;
  border-radius: 12px;
  width: 480px;
  height: 480px;
  background: #a4c416;
}

.puzzle-vert-margin {
  border-radius: 12px;
  width: 480px;
  height: 0px;
  background: #a4c416;
}

.puzzle-window-mid {
  width: 480px;
  height: 0px;
  background: #a4c416;
}

.puzzle-hori-margin {
  float: left;
  width: 0px;
  height: 0px;
  background: #a4c416;
}

.puzzle-body {
  border-radius: 12px;
  float: left;
  padding: 0px;
  width: 0px;
  height: 0px;
  background: #50543A;
}

.puzzle-node {
  float: left;
  width: 0px;
  height: 0px;
}

.puzzle-side-hori {
  float: left;
  width: 0px;
  height: 0px;
}

.puzzle-side-vert {
  float: left;
  width: 0px;
  height: 0px;
}

.puzzle-row-thin {
  width: 0px;
  height: 0px;
}

.puzzle-row-fat {
  width: 0px;
  height: 0px;
}

.puzzle-block {
  float: left;
  width: 0px;
  height: 0px;
  background: #a4c416;
  border-width: 0px;
  border-style: solid; 
  border-color: #50543A;
}

.puzzle-head {
  position: absolute;
  width: 0px;
  height: 0px;
  background: #50543A;
  z-index: 1;
}

.puzzle-tail {
  position: absolute;
  width: 0px;
  height: 0px;
  background: #50543A;
  z-index: 1;
}

.puzzle-essential-node {
  position: absolute;
  width: 0px;
  height: 0px;
  background: #000000;
  z-index: 3;
}

.puzzle-essential-side {
  position: absolute;
  width: 0px;
  height: 0px;
  background: #000000;
  z-index: 3;
}

.puzzle-obstacle-side {
  position: absolute;
  width: 0px;
  height: 0px;
  background: #a4c416;
}

.path {
  position: absolute;
  width: 0px;
  height: 0px;
  background: #ffc019;
  z-index: 2;
}

.rc-square {
  color: #282a1d;
  width: 46px;
  height: 46px;
  opacity: 0.65;
}