#page {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-size: 18px; 
}

.main {
  width: 480px;
  margin: 0 auto;
}

.toolbar {
  width: 480px;
  height: 100px;
  /*margin: 10px auto;*/
}

.dropdown {
  float: left;
}

.puzzle-window {
  border-radius: 10px;
  width: 480px;
  height: 480px;
  background: #a4c416;
}

.puzzle-vert-margin {
  border-radius: 10px;
  width: 480px;
  height: 0px;
  background: #a4c416;
}

.puzzle-window-mid {
  width: 480px;
  height: 0px;
  background: #a4c416;
}

.puzzle-hori-margin {
  float: left;
  width: 0px;
  height: 0px;
  background: #a4c416;
}

.puzzle-body {
  border-radius: 10px;
  float: left;
  padding: 0px;
  width: 0px;
  height: 0px;
  background: #50543A;
}

.puzzle-node {
  float: left;
  width: 0px;
  height: 0px;
}

.puzzle-side-hori {
  float: left;
  width: 0px;
  height: 0px;
}

.puzzle-side-vert {
  float: left;
  width: 0px;
  height: 0px;
}

.puzzle-row-thin {
  width: 0px;
  height: 0px;
}

.puzzle-row-fat {
  width: 0px;
  height: 0px;
}

.puzzle-block {
  float: left;
  /*border-radius: 10px;*/
  width: 0px;
  height: 0px;
  background: #a4c416;
  /*background: #50543A;*/
  border-width: 0px;
  border-style: solid; 
  border-color: #50543A;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  display: block;
  float: center; 
  text-align: center;
}